<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Login</title>
    <%- include('headerfiles') %>
</head>

<body>
    <%- include('publicheader') %>
        <div class="container">

            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <form id="changepassword">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" readonly name="username" id="username" value="<%= username %>"
                                data-rule-required="true" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="oldpassword">Old Password</label>
                            <input type="password" name="oldpassword" id="oldpassword" data-rule-required="true"
                                class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="newpassword">New Password</label>
                            <input type="password" name="newpassword" id="newpassword" data-rule-required="true"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="confirmpassword">Confirm Password</label>
                            <input type="password" name="confirmpassword" id="confirmpassword"
                                data-rule-equalto="#newpassword" data-rule-required="true" class="form-control">
                        </div>
                        <div class="form-group">
                            <!--                    <input type="button" value="Login" onclick="adminLogin()" class="btn btn-primary">-->
                            <input type="button" value="Update" id="btn1" class="btn btn-primary">
                        </div>
                        <div class="form-group" id="error">

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            // function adminLogin() {
            //
            //
            //
            // }

            $(document).ready(function () {
                $("#btn1").click(function () {
                    $("#changepassword").validate();
                    if ($("#changepassword").validate()) {
                        var formdata = new FormData();
                        formdata.append("username", document.getElementById("username").value);
                        formdata.append("oldpassword", document.getElementById("oldpassword").value);
                        formdata.append("newpassword", document.getElementById("newpassword").value);
                        var httpreq = new XMLHttpRequest();
                        httpreq.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                if (this.response != "success") {
                                    document.getElementById("error").innerHTML = "<div class='alert alert-danger'>Incorrect Old Password</div>";
                                } else {
                                    document.getElementById("error").innerHTML = "<div class='alert alert-success'>Password updated</div>";

                                }
                                document.getElementById("btn1").value = "update";

                            } else {
                                document.getElementById("btn1").value = "updating...";
                            }
                        }
                        httpreq.open("post", "./adminchangepassword", true);
                        httpreq.send(formdata);


                    }
                })
            })
        </script>

</body>

</html>