<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <!--<nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom">-->
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Shopping</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="menu1">
            <ul class="navbar-nav nav ">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">about</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Gallery</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Users</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Register</a>
                        <a href="#" class="dropdown-item">Login</a>

                    </div>

                </li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>