<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Shopping</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="menu1">
            <ul class="navbar-nav nav ">

                <li class="nav-item"><a class="nav-link" href="/userhome">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/manageProducts">Manage Cart</a></li>
                <li class="nav-item"><a class="nav-link" href="/manageProducts">Order History</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Settings</a>
                    <div class="dropdown-menu">
                        <a href="/admin/changePassword" class="dropdown-item">Manage Profile</a>
                        <a href="/admin/changePassword" class="dropdown-item">Change Password</a>
                        <a onclick="return confirm('are you sure to logout ?')" href="/admin/logout"
                           class="dropdown-item">Logout</a>

                    </div>

                </li>

            </ul>
        </div>
    </div>
</nav>
